@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

body {
  font-family: Inter;
  overflow-x: hidden;
  background-color: #09090b;
}

#__next {
  overflow-x: hidden;
}

.color-scale-1 {
  fill: #e0d1f5;
}
.color-scale-2 {
  fill: #c2a3eb;
}
.color-scale-3 {
  fill: #a374e0;
}
.color-scale-4 {
  fill: #8546d6;
}
.color-scale-5 {
  fill: #6610f2;
}
.color-scale-0 {
  fill: #09090b;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.landing .react-calendar-heatmap text {
  font-size: 7px;
  fill: #aaa;
}
